.profile {
  margin: 0;
  padding: 0;
}

.profile__section {
  display: flex;
  flex-direction: column;
  width: 410px;
  margin: 0 auto;
  padding: 0;
}

.profile__title {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 74px 0 0;
  padding: 0;
}

.profile__form {
  font-size: 11px;
  font-style: normal;
  line-height: normal;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 123px 0 0;
  padding: 0;
}

.profile__form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* !!! */
.profile__label {
  font-weight: 500;
  margin: 0;
  padding: 0;
}

/* !!! */
.profile__input {
  text-align: right;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.profile__form-row:first-child {
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  padding-bottom: 16px;
}

.profile__submit {
  background-color: #FAFAFA;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 220px 0 0;
  padding: 0;
}

.profile__sign-out {
  background-color: #FAFAFA;
  color: #EE3465;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 16px 0 0;
  padding: 0;
}