.promo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: url(../../images/promo-logo.svg);
  background-size: 320px 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #DDDEE3;
  height: 524px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .promo {
    height: 784px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    background-size: 248px 248px;
    height: 570px;
  }
}

.promo__text {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  max-width: 730px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .promo__text {
    font-size: 31px;
    line-height: 39px;
    letter-spacing: -1.24px;
  }
}