.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 70px 70px 69px;
}

@media screen and (max-width: 1279px) {
  .search {
    padding: 80px 30px 109px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    padding: 80px 10px 109px;
  }
}

.search__form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 9px;
  background-color: #FFF;
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.08);
  height: 72px;
  margin: 0;
  padding: 0;
}

.search__icon {
  background-image: url(../../images/search-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  margin: 0 0 0 19px;
  padding: 0;
}

.search__input_el_search-line {
  color: #A0A0A0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  width: 751px;
  height: 34px;
  margin: 0 0 0 10px;
  padding: 0;
}

.search__input_el_search-line:focus {
  outline: none;
}

.search__submit {
  background-image: url(../../images/search-button.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FFF;
  border-radius: 0;
  width: 34px;
  height: 34px;
  margin: 0 0 0 46px;
  padding: 0;
}

.search__label_el_extra-options {
  border-left: 1px solid #CBCBCB;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
  margin: 0 30px 0 19px;
  padding: 0 0 0 29px;
}

.search__input_el_extra-options {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
}

.search__input_el_extra-options:checked+.search__pseudo-item_type_checkbox {
  background-image: url(../../images/checkbox-on.svg);
  transition: background-image 0.8s ease-out;
}

.search__pseudo-item {
  background-image: url(../../images/checkbox-off.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 20px;
  margin: 0 14px 0 0;
  padding: 0;
}

.search__label-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}