.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0;
  padding: 18px 70px;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}

/* activate */
.header_theme_grey {
  background-color: #DDDEE3;
}

.header__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header__column_nav {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__column_account {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

@media screen and (max-width: 767px) {
  .header__column_account {
    font-size: 10px;
  }
}

.header__link {
  margin: 0 0 0 16px;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .header__link {
    display: none;
  }
}

.header__link_position_first {
  margin-left: 44px;
}

/* activate */
.header__link_active {
  font-weight: 500;
}

.header__signup {
  margin: 0 30px 0 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .header__signup {
    margin: 0 14px 0 0;
  }
}

.header__button {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  width: 76px;
  height: 32px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .header__button {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .header__button {
    font-size: 10px;
    width: 54px;
    height: 26px;
    margin: 0;
  }
}

.header__account {
  background-image: url(../../images/account-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 100px;
  height: 32px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .header__account {
    display: none;
  }
}

.header__account:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.header__menu {
  display: none;
  background-image: url(../../images/hamburger.svg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .header__menu {
    display: block;
    width: 44px;
    height: 44px;
  }
}

@media screen and (max-width: 767px) {
  .header__menu {
    width: 40px;
    height: 43px;
  }
}