.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #FAFAFA;
  margin: 0 auto;
  padding: 0;
}

/* @media screen and (max-width: 1279px) {
  .header {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 31px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 48px 19px 36px;
  }
} */

/* activate */
.header_theme_grey {
  background-color: #DDDEE3;
}

.header__column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header__column_nav {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.header__column_account {
  color: #000;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__logo {
  background-image: url(../../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  margin: 18px 44px 18px 70px;
  padding: 0;
}

.header__link {
  margin: 28px 16px 0 0;
  padding: 0;
}

/* activate */
.header__link_active {
  font-weight: 500;
}

.header__signup {
  margin: 29px 30px 29px 0;
  padding: 0;
}

.header__button {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  width: 76px;
  height: 32px;
  margin: 21px 70px 21px 0;
  padding: 0;
}

.header__account-button {
  background-image: url(../../images/account-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 100px;
  height: 32px;
  margin: 21px 70px 21px 0;
  padding: 0;
}

.header__account-button:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}