.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F8F8F8;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0 70px 0;
}

/* @media screen and (max-width: 1279px) {
  .footer {
    margin: 48px auto 36px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 48px 19px 36px;
  }
} */

.footer__info {
  color: #A0A0A0;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  margin: 0 auto;
  padding: 79px 0 20px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0;
}

.footer__column {
  margin: 0;
  padding: 0;
}

.footer__links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.footer__link {
  margin-right: 20px;
}

.footer__link:last-child {
  margin-right: 0;
}