.techs {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .techs {
    background-color: #FAFAFA;
  }
}

.techs__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin: 0 70px;
  padding: 100px 0 23px 0;
}

@media screen and (max-width: 1279px) {
  .techs__title {
    margin: 0 50px;
    padding: 54px 0 23px 0;
  }
}

@media screen and (max-width: 767px) {
  .techs__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin: 0 18px;
    padding: 37px 0 28px 0;
  }
}

.techs__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 0;
  padding: 0 0 100px;
}

@media screen and (max-width: 1279px) {
  .techs__content {
    padding: 0 0 90px;
  }
}

@media screen and (max-width: 767px) {
  .techs__content {
    padding: 0 0 70px;
  }
}

.techs__subtitle {
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 88px 0 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .techs__subtitle {
    margin: 80px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .techs__subtitle {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin: 60px 0 0;
  }
}

.techs__text {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 460px;
  margin: 26px auto 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .techs__text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
    margin: 22px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .techs__text {
    font-size: 11px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: -0.44px;
    max-width: 292px;
    margin: 24px auto 0;
  }
}

.techs__list {
  list-style: none;
  display: grid;
  grid-template-rows: repeat(1, 60px);
  grid-template-columns: repeat(7, 90px);
  gap: 10px;
  justify-content: center;
  margin: 100px 0 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .techs__list {
    grid-template-rows: repeat(1, 57px);
    grid-template-columns: repeat(7, 84px);
    margin: 83px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .techs__list {
    grid-template-rows: repeat(4, 57px);
    grid-template-columns: repeat(2, 84px);
    margin: 50px 0 0;
    padding: 0 71px;
  }
}

.techs__list-item {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
  border-radius: 10px;
  background-color: #E8E8E8;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 1279px) {
  .techs__list-item {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}