.about__title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin: 0 70px;
  padding: 100px 0 23px 0;
}

@media screen and (max-width: 1279px) {
  .about__title {
    margin: 0 50px;
    padding: 90px 0 23px 0;
  }
}

@media screen and (max-width: 767px) {
  .about__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin: 0 14px;
    padding: 70px 0 28px 0;
  }
}